.pagination {
    //flex-wrap: wrap;
    max-width: 100%;
    list-style: none;
    display: flex;
    //flex-direction: row;
    justify-content: space-around; 
    &>li {
        display: block;
       text-align: center;
       padding: 10px;
       //background-color: blue;
       flex-wrap: wrap;
       max-width: 700px;
       overflow-x: hidden;
       
       &>a{
        color: black;
        cursor: pointer;
        text-decoration: none;
        //background-color: blue;
       }
    }
}
.container {
    max-height: 100px;
    width: 100%;
}
.row {
    display: block;
    max-height: 100px;
    flex-wrap: wrap;
}
