.movie {
    //display: flex;
    width: 150px;
   // height: 450px;
    margin: 2.5rem;
    position: relative;
    border: 1px solid lightgray;
    border-radius: 10px;
    left: 3%;
    top: 15%;
    transform: translate(0,0);
    //top: 5O%;
    //overflow: hidden;
    //height: 500px;
    &:hover .movie-overview {
        transform: translateY(0%);
        display: block;
        transition: transform 0.3s ease-in-out;
        //transition: transform 0.9s ease-in-out;
    }
    & img {
        max-width: 100%;
        border-radius : 10px;
    }
    &-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem ;
        //flex-direction: column;
        & h3{
            margin: 0; 
            font-size: 0.9rem;  
        }
    }
    &-overview {
        background-color: white;
        position: absolute;
        transform: translateY(100%);
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1rem;
        overflow:auto;
        max-height: 60%;
        //opacity: 0.9;
       display:none;
       border-bottom-left-radius: 5px;
       border-bottom-left-radius: 5px;
      // scroll-snap-align: ;

    }
}
